*.DS_Store
*.sqlite3
AchieveMe/static/
.gitignore
.directory
AchieveMe/app/migrations/*
AchieveMe/app/__pycache__/*
AchieveMe/AchieveMe/__pycache__/*
__pycache__
*.pyc
*.jpg
*.png
AchieveMe/media/images/*
!AchieveMe/media/images/cat.png
AchieveMe/app/static/secret_data/*.json
AchieveMe/media/collage.jpg
AchieveMe/media/big_collage.jpg
!AchieveMe/app/static/img/header.svg
