/AchieveMe/AchieveMe/__pycache__
/AchieveMe/AchieveMe/__pycache__
/AchieveMe/app/__pycache__
/AchieveMe/db.sqlite3
/AchieveMe/app/migrations
*.pyc
db.sqlite3
/static
.DS_Store
*~
__pycache__