{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="col-sm-5">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Добавить новую цель</button>
            </form>
    </div>
    
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
    <h1>Цели списка "{{listname}}"</h1>

    {% if aims %}
    <ul>

     {% for aim in aims %} 
         <div class="row">
            <img src="{{ MEDIA_URL }}{{ aim.image }}" width = "7%" height = "7%">
            <a href="{{ .get_absolute_url }}{{ aim.id }}">{{ aim.name }}</a> {{aim.deadline}}
            <br/><br/>
         </div>
     {% endfor %}

    </ul>
    {% else %}
      <p>Список пуст :((</p>
    {% endif %}       
{% endblock %}