{% extends "lists.html" %}
{% load staticfiles %}

{% block aim_add_form %}
<div  class = "box col-lg-3 alert alert-warning text-center" style = "padding-bottom:5px;padding-left:10px;line-height:30px;padding-top:20px;padding-right:20px;float:right;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in formA%} 
                {{ field.label }}
                {{ field }}
                {% if field.name == 'is_important' %}
                    <br/>
                {% endif %}
            {% endfor%}
            <br>
            <div style = "padding-top:10px;">
                <button type="submit" name = "aimbtn" class="btn btn-primary">Создать</button>
            </div>
        </form>
</div>
{% endblock %}

{% block content %}
    <div class="col-lg-7" style = "height:100vh; float:left;padding-left:50px;">
    <h1>{{listname}}:</h1>
    <h2>Активные цели</h2>
    {% if aims %}
        {% for aim in aims %} 
         <div class="row">
            <div class="col-lg-3" style = "border: 2px solid #354D73; padding-right: 0px;
    padding-left: 0px;">
            <img src="{{ MEDIA_URL }}{{ aim.image }}" width = "100%" height = "100%">
            </div>
            <div class="col-lg-9">
                <a href="{{ .get_absolute_url }}{{ aim.id }}">{{ aim.name }}</a> 
                <div class = "col-lg-3" style = "float:right; text-align:center;">    
                    {{aim.deadline|date:"d.m.Y"}} {{aim.deadline|time:"H.i"}}
                </div>
                {% if aim.is_important == True %}
                    <span style="font-size:18px; color:orange;" class="glyphicon glyphicon-star"></span>
                {% endif %}
              
                <a class="completeLink" href="#"  style = "float:left; padding-right:5px;">
                    <span style="font-size:15px;color:green;" class="glyphicon glyphicon-ok"></span>
                    <img src="https://media1.tenor.com/images/c43edbd71c0d25df686498663517ff3a/tenor.gif?itemid=10982639" style="display:none; z-index:1000;" id="pokemon">
                        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <script>
                            $.fn.center = function () {
                                this.css("position","absolute");    
                                this.css("top", "70px");
                                this.css("left", "85px");
                                return this;
                            }

                            $(".completeLink").on("click", function(){
                                $("#pokemon").fadeIn().center();
                                setTimeout(function(){
                                    $("#pokemon").fadeOut()
                                }, 1000);
                                setTimeout(function(){window.location = "{{ .get_absolute_url }}{{ aim.id }}/complete";
                            }, 1300)
                            });

                        </script>
                </a>
                <a href="{{ .get_absolute_url }}{{ aim.id }}/edit"><span style="font-size:15px;color:orange;" class="glyphicon glyphicon-pencil"></span></a>
                <a href="{{ .get_absolute_url }}{{ aim.id }}/delete"><span style="font-size:15px;color:red;" class="glyphicon glyphicon-remove"></span></a>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{aim.percent}}%;background-color:green;" aria-valuenow="{{aim.percent}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            <br/>
            </div>
         </div>
         <br/>
        {% endfor %}
    {% else %}
    <div class = "alert alert-warning text-center" style = "color:#C37629;">
        <p>Список пуст <span class="glyphicon glyphicon-thumbs-down"></span> </p>
    </div>
    {% endif %}       
            
    <h2>Выполненные цели</h2>
    {% if completed %}
        {% for aim in completed %} 
             <div class="row">
             <div class="col-lg-3" style = "border: 2px solid #354D73; padding-right: 0px;
    padding-left: 0px;">
                <img src="{{ MEDIA_URL }}{{ aim.image }}" width = "100%" height = "100%">
                </div>
                <div class="col-lg-9">
                <s><a href="{{ .get_absolute_url }}{{ aim.id }}">{{ aim.name }}</a>
                <div class = "col-lg-3" style = "float:right; text-align:center;">    
                    {{aim.deadline|date:"d.m.Y"}} {{aim.deadline|time:"H.i"}}
                 </div></s></div>
                <div style = "float:left;padding-right:5px;">
                    <a href="{{ .get_absolute_url }}{{ aim.id }}/cancel_complete"><span style="font-size:15px;" class="glyphicon glyphicon-repeat"></span></a>
                </div>
             </div>
             <br/>
        {% endfor %}
    {% else %}
        <div class = "alert alert-warning text-center" style = "color:#C37629;">
            <p>Список пуст <span class="glyphicon glyphicon-thumbs-down"></span> </p>
        </div>
    {% endif %}    
    </div>
{% endblock %}
