<!DOCTYPE html>
<html>
<head>
  {% block title %}<title>AchieveMe</title>{% endblock %}
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/solid.css" integrity="sha384-S2gVFTIn1tJ/Plf+40+RRAxBCiBU5oAMFUJxTXT3vOlxtXm7MGjVj62mDpbujs4C" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/fontawesome.css" integrity="sha384-0b7ERybvrT5RZyD80ojw6KNKz6nIAlgOKXIcJ0CV7A6Iia8yt2y1bBfLBOwoc9fQ" crossorigin="anonymous">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png" />
  {% block placeinhead %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
      <div class="row">
       <nav role="navigation" class="navbar navbar-inverse">
              <div class="navbar-header header">
          
                <div class="row"> 
                  <div class="col-lg-1"></div>
                  <div class="col-lg-3" >
                      <img  src="{% static 'img/header.svg' %}"  style="background-color: #42218E; width: 70px; height: 70px; padding-top: 20%;" >
                  </div>
                  <div class="col-lg-4">
                    <h1><a href="#">AchieveMe</a></h1>
                  </div>
                </div>



              <button = type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>
          <div class="container"> 

            <div id="navbarCollapse" class="collapse navbar-collapse navbar-right">
              
              <ul class="nav navbar-nav">
        <li class="active" style="font-size:18px;" ><a href="{% url 'index' %}">Главная<span style="font-size:18px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown" style="font-size:18px;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if user.is_authenticated %}{{user.username}}{% else %}Гость{% endif %}<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' user.username%}">Мой коллаж</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'signup' %}">Зарегистрироваться</a></li>
            {% endif %}
          </ul>
        </li>
        {% if user.is_authenticated %}     
        <li ><a href="{% url 'lists' username=user.username %}" style="font-size:18px;">Списки<span style="font-size:18px;" class="glyphicon glyphicon-list-alt"></span></a></li>
        <li ><a href="{% url 'settings' username=user.username %}" style="font-size:18px;">Настройки<span style="font-size:18px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
        {% endif %}
      </ul>
            </div>

          </div>
        </nav>
      </div>
    </div>    
  <div class="container-fluid">
    <div class="row">

      <!-- main part -->
      
            <div style="font-size: 14pt;" class="container-fluid" name="main">
      {% block lists_sidebar %} {% endblock %}
      {% block aim_add_form %} {% endblock %}
      {% block content %}{% endblock %}
      {% block parser %}{% endblock %}
      </div> 

     </div>

  </div>

  <div class="wrapper">

    <div class="clear"></div>

  </div>

  <footer>
      
    <div class="container">
      <p class="text-center"> <a href="http://127.0.0.1:8000">Achieve.me</a></p>

    </div>

  </footer>

</body>
</html>
