{% extends "deep_aim.html" %}

{% block aim_add_form %}
<div  class = "box col-lg-3" style = "padding-bottom:5px;padding-left:10px;border-radius: 10px; border: 1px groove black; background:#FFF8DC; line-height:30px;padding-top:20px;padding-right:20px;float:right;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in formA%} 
                {{ field.label }}
                {{ field }}
                {% if field.name == 'is_remind' or field.name == 'is_important' %}
                    <br/>
                {% endif %}
            {% endfor%}
            <br>
            <button type="submit" name = "aimbtn" class="btn btn-primary">Обновить</button>
        </form>
</div>
{% endblock %}