{% extends "base.html" %}

{% block content %}
<big>
<div style = "margin:30px;">
<div class="page-header"> 
    <h1>Добро пожаловать в сервис постановки и достижения  целей AchieveMe!</h1> 
</div>
<p> 
Все мы чего-то желаем. Гораздо проще исполнить своё желание, если превратить его в цель. Цель от желания отличается тем, что она чётко сформулирована и ограничена по времени. «Хочу быть богатым» — это желание, его можно иметь всю жизнь, но так и не исполнить. «Хочу иметь на своём банковском счету 100 млн рублей 1 января 2020 года» — это цель, к ней можно стремиться и её можно достигнуть.
</p>
<p>
Умения правильно распределять время, формулировать цели и не забывать о дедлайнах позволяют достичь успеха в любом деле. Наш сервис поможет Вам в этом!
Здесь вы можете создавать цели, ставить себе дедлайны, планировать их достижение с помощью списка подцелей.
</p>

<p>
Несколько советов новым пользователям:

<ul style = "list-style-image: url(static/img/smile.svg);">
    <li>
        Чтобы разделить цели по категориям, создавайте {% if user.is_authenticated%}<a href="{% url 'lists' username=user.username %}">списки</a>{%else%}списки{%endif%}.
    </li>
    <li>
        Чтобы точно не забыть о дедлайне, включите синхронизацию с google-календарарем в разделе {% if user.is_authenticated%}<a href="{% url 'settings' username=user.username %}">Настройки</a>{%else%}Настройки{%endif%}
    </li>
    <li>
        Для удобного планирования используйте специальную форму на странице цели. Пишите пункты плана с дедлайнами по одному в строке, и подцели создадутся автоматически!
    </li>
    <li>
        Чтобы постоянно помнить о поставленных целях, перейдите в раздел {% if user.is_authenticated%}<a href="{% url 'lists' username=user.username %}">Мой коллаж</a>{%else%}Мой коллаж{%endif%}, где вы сможете скачать коллаж из аватарок ваших целей и поставить на заставку рабочего стола. (Не стесняйтесь ставить антуражные аватарки для целей)
    </li>
    <li>
        Если вам лень расписывать планы, создавайте цели голосом в нашем мобильном приложении!
    </li>
</ul>
</p>
</div>
</big>
{% endblock %}