{% extends "base.html" %}

{% block content %}
<div style = "float:left;padding-left:30px;">
    <div class="row"> 

        <h1>Списки:</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {%if field != label%}
                        {{ field }}
                    {% endif %}
                {% endfor %}
            </form>
        
        <div class="row" style = "line-height:30px;">
            <div>
                <div>
                    {% if lists %}
                    <ul>
                     {% for list in lists %} 
                         <div class="row">
                                <a href = "{{list_link}}{{list.id}}" >{{ list.name }}</a>
                            <div style = "float:left;">
                                <a href="{{ .get_absolute_url }}{{list.id}}/delete"><span style="font-size:15px;" class="glyphicon glyphicon-remove"></span></a>
                                <a href="{{ .get_absolute_url }}{{list.id}}/edit"><span style="font-size:15px;" class="glyphicon glyphicon-pencil"></span></a>
                            </div>
                         </div>
                     {% endfor %}
                    </ul>
                    {% else %}
                      <p>Списков нет :(</p>
                    {% endif %}      
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 