{% extends "base.html" %}

{% block content %}
    {% if saved %}
        <div style="padding-left: 20px;">
            <div class="form-group col" role="alert">
                Список создан
            </div>
        </div>
	{% endif %}
	<div class="col-sm-5">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {%if field != label%}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Создать</button>
            </form>
    </div>
    
    <br/><br/><br/>
    
    <div ><h1>Списки</h1></div>
    {% if lists %}
    <ul>

     {% for list in lists %} 
         <div class="row">
            <a href="{{ list.get_absolute_url }}{{list.id}}">{{ list.name }}</a>
         </div>
     {% endfor %}

    </ul>
    {% else %}
      <p>Списков нету :((</p>
    {% endif %}      
{% endblock %} 