body, html{
    height: 100%;
  }



  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .glyphicon {
    padding-left: 5px;
    font-family: 'Glyphicons Halflings';
  }

  .fa-book{
  padding-left: 7px;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

  .header a, a:hover {
    color: #FFFFFF;
    text-decoration: none;
  }

  .header h1 {
    font-family: Telugu MN;
    letter-spacing: 3px;
    font-size: 300%;
  }

  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: white;
    background-color: #e94c6f;
    font-family: Tahoma;
    border-radius: 3px;
  }

  .navbar-inverse .navbar-nav>li>a {
    font-family: Tahoma;
    color: white;
  }

  .navbar-inverse .navbar-nav>li>a:hover {
    border-radius: 3px;
    background-color: #e94c6f;
    font-family: Tahoma;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    padding: 1%;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    padding: 2%;
    text-align: center;
  }

  .btn-primary {
    color: #fff;
    background-color: #e94c6f;
    border-color: #e94c6f; 
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #42218E;
    border-color: #42218E;
  }


  button.btn.btn-primary a, a:hover{
    color: #e94c6f;
  }

  .btn-primary>a {
    background-color: #e94c6f;
    color: #e94c6f;
  }


  .container {
    padding-right: 200px;
    padding-left: 120px;
    margin-right: auto;
    margin-left: auto;
  }


  .navbar-inverse {
    background-color: #42218E;
    border-color: #42218E;
  }

  .clear {
    clear: both;
    height: 63px;
  }

  .wrapper {
    min-height: 100%;
  }

  footer {
    color : black;
  }

  footer a {
    color : black;
  }

  footer a:hover {
    color : #e94c6f;
  }

 @media (min-width: 765px) {

    #id_img{
        border:1px solid #000;
    };

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 220px;
      height: 100%;
      margin-left: 0px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 1;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }