<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.achieveme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bee_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bee_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlanActivity"></activity>
        <activity
            android:name=".KabinetActivity"
            android:label="Кабинет" />
        <activity
            android:name=".NewListActivity"
            android:label="Новый список" />
        <activity android:name=".editAimActivity" />
        <activity
            android:name=".AimViewActivity"
            android:parentActivityName=".AimsActivity" />
        <activity
            android:name=".AimsActivity"
            android:parentActivityName=".ListsActivity" />
        <activity
            android:name=".ListsActivity"
            android:label="Списки" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainEmptyActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>